.task1 {
    background-color: #D7CCC8;
    color: #4E342E;
    padding: 30px;
}

.task1:hover {
    background-color: #4E342E;
    color: #D7CCC8;
    transition: all 2s;
}

.task2 {
    position: relative;
    width: 500px;
    height: 500px;
}
.task2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.task2 span {
    display: none;
}

.task2:hover span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4E342E;
    display: block;
}

.task3 a {
    border-right: 2px solid #4E342E;
    text-decoration: none;
}

.task3 a:last-child {
    border: none;
}

ul {
    list-style-type: none;
    counter-reset: li;
}

.task4 li {
    background-color: #D7CCC8;
    position: relative;
    line-height: 30px;
}
.task4 li::before {
    content: counter(li) "."; /* значение счетчика */
    counter-increment: li; /* счетчик увеличивается с новым li */
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    left: -30px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #D7CCC8;
}
/* 3n - каждый третий */
.task4 li:nth-child(3n)::before,
.task4 li:nth-child(3n) {
    background-color: #AC3B61;
}


/* placeholder */
input::-webkit-input-placeholder {
    color: #4E342E;
    font-style: italic;
}

input::-moz-placeholder {
    color: #4E342E;
    font-style: italic;
}

input::-ms-input-placeholder {
    color: #4E342E;
    font-style: italic;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input[type=password] {
    border-style: none;
    outline-style: none;
    border-bottom: 2px solid #4E342E;
    background-color: transparent;
}

input[type=password]:focus {
    border-color: #FF4E00;
}
/*
<input type="password" placeholder="Пароль">
<span>Lorem ipsum dolor</span>
*/
input[type=password] + span{
    display: none;
}

input[type=password]:focus + span {
    display: inline;
}

#remember {
    display: none;
}
label::before {
    content: "☆"
}
#remember:checked + label::before {
    content: "☆";
    color: green;
}

