html {
    font-size: 20px; /* 1rem = 20px */
}

body {
    margin: 0;
    background: #e53935;
}

div {
    border: 6px solid #2E7D32;
    width: 20rem;
    height: 30rem;
}

p {
    border: 6px solid white;
    width: 10rem;  /* 0.2rem == .2rem */
    height: 20rem;
}

/* медиазапросы и контрольные точки */
/*
Основные типы устройств:
all - все устройства (по умолчанию)
print - принтеры и режим предварительного просмотра страницы перед печатью
screen - устройства с дисплеями
*/
/*
Логические операторы:
and - требует обязательного выполнения всех условий, например
screen and (min-width: 1200px) and (orientation: landscape) { стили }
запятая - требует обязательного выполнения хотя бы одного из условий
(min-width: 544px), (orientation: landscape) { стили }
not - предназначен для отрицания указанного условия
not (min-width: 544px)
*/
/*
Медиа функции:
1. width - указывает требования к ширине области просмотра
2. min-width - задаёт минимальную ширину области
3. max-width - задает максимальную область
4. 5. 6. height, min-height и max-height - аналогично, но в отношении высоты
7. orientation - функция, которая проверяет то,
 в каком режиме (portrait или landscape) отображается страница
8. aspect-ratio (min-aspect-ratio, max-aspect-ratio) - позволяют указать то, как ширина устройства должна относиться к высоте
 */

/*
медиазапросы должны идти после основных стилей
@media условия {
    стили, применятся при выполнении условий медиа запроса
}

*/
/* ширина от 992px до 1200 */
@media screen and (min-width: 992px) and (max-width: 1200px){
    body {
        background: #D81B60;
    }
}

/* ширина от 768px до 991px */ /* 920px */
@media screen and (min-width: 768px) and (max-width: 991px){
    body {
        background: #8E24AA;
    }
}

/* ширина от 600 до 767px */
@media screen and (min-width: 600px) and (max-width: 767px){
    body {
        background: #5E35B1;
    }
}

/* ширина до 599px */
@media screen and (max-width: 599px){ /* 480px */
    body {
        background: #3949AB;
    }

    p {
        word-break: break-all;
    }

    html {
        font-size: 10px; /* 1rem = 10px */
    }
}

